@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

#root {
  width: min(90%, 1000px);
  height: fit-content;
  border: 5px black double;
}

header,
.section-header {
  color: white;
  background-color: rgb(25 35 74);
}

h1 {
  font-size: clamp(25px, 2.5rem, 4vw);
}

h2 {
  font-size: clamp(20px, 2rem, 3vw);
}

h3 {
  font-size: clamp(16px, 1.5rem, 2.3vw);
}

.General {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1%;
  border-top: 2px black dotted;
  padding-bottom: 1%;
}

.General h2,
.General h3 {
  height: clamp(25px, 2.1rem, 3.1vw);
}

.General form,
.general-info,
li {
  width: min(90%, 450px);
  padding: 1%;
  background-color: rgb(209 218 255);
  border-radius: 10px;
}

.general-info {
  font-weight: bold;
}

.section-header {
  display: flex;
  justify-content: space-between;
  border-top: 2px black dotted;
  padding: 0.5%;
}

input {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(15px, 0.8rem, 1.8vw);
}

textarea {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(15px, 0.8rem, 1.8vw);
}

p {
  margin: 2% 0;
  text-align: start;
}

button {
  font-family: "Work Sans", sans-serif;
  margin: 0.5%;
  font-size: clamp(13px, 0.8rem, 1.9vw);
  padding: 3px 5px;
  border-radius: 5px;
  border: 2px outset grey;
  font-weight: bold;
  background-color: white;
}

button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px black;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: max(3%, 1rem);
  list-style-type: none;
  padding: 1.5% 0.5%;
  font-size: clamp(15px, 1rem, 2vw);
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1% 0;
}

#edit-mode {
  background-color: rgb(255 203 234);
}
